body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.pets {
  border: solid 2px brown;
  margin: 10px;
  width: 300px;
}

.pets img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border: solid 3px whitesmoke;
 width: 200px;
}

p {
 
  text-align: center;
}

#pets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: fit-content;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-variant: petite-caps;
  letter-spacing: 15px;
}

h2 {
  background-color: bisque;
  text-align: center;
  border: solid 5px beige;
  color: whitesmoke;
  text-shadow: 3px 3px black;
}

h3 {
  text-align: center;
  border: solid 5px beige;
  background-color: bisque;
  font-family: serif;
  font-size: 22px;
  letter-spacing: 5px;
}

h4 {
  text-align: center;


}

.dino {
  border: 3px solid blueviolet;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.dino img {
  width: 100px;
  height: 100px;
}

.name1 {
  background-color: chartreuse;
  margin: 0px;
  padding: 0px;
}

.name2 {
  background-color: chocolate;
}

.name3 {
  background-color: darkgray;
}
